.header {
  background-color: rgb(102, 226, 80);
  /* max-height: 100px;
  overflow: none; */
}
.sidebar {
  background-color: rgb(205, 138, 50);
}
.side-content {
  background-color: aliceblue;
}
.table-container {
  max-height: 300px;
  overflow-y: auto; 
  border: 1px solid #ccc;
}
.table {
  border-collapse: collapse;
  width: 100%;
}
.th, .td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}
.th {
  background-color: #f0f0f0;
}
.th:first-child, .td:first-child {
  border-left: 1px solid #000;
}
.th:last-child, .td:last-child {
  border-right: 1px solid #000;
}
